<h1>Important Links</h1>

<a href="https://canvas.instructure.com/calendar#view_name=month&view_start=2016-09-12">
  Calendar <i class="glyphicon glyphicon-calendar"></i>
</a>

<br />

<a href="/one_on_ones/new">
  Schedule a 1-on-1 <i class="glyphicon glyphicon-comment"></i>
</a>


<h1>Updates</h1>

<%= link_to 'New Update', new_update_path %>

<br />
<br />

<ul>
  <% @updates.each do |update| %>
    <li><%= update.created_at.to_date %> | <%= link_to update.title, update %></li>
  <% end %>
</ul>

